@import 'o-fonts/main';

// scss-lint:disable ImportPath
@import 'normalize-scss/_normalize.scss';
// scss-lint:enable ImportPath

$o-grid-is-silent: false;
$o-buttons-is-silent: false;

// $o-grid-debug-mode: true;

$male-colour: #6898c1;
$female-colour: #bb6d82;

@import 'o-colors/main';
@import 'o-footer/main';
@import 'o-grid/main';
@import 'o-buttons/main';

@import 'fonts';
@import 'colours';
@import 'mixins';

html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

body {
  @include oColorsFor(page, background);
  @include font-smoothing;

  margin: 0;
  border: 0;
  font-family: oFontsGetFontFamilyWithFallbacks(MetricWeb);
  color: #333;
}

  .site-header {
    padding: 12px 0 8px;
    text-align: center;
    border-bottom: 1px solid #e9decf;

    @include oGridRespondTo(S) { padding: 18px 0 14px; }

    > a {
      opacity: 0.75;
      &:hover { opacity: 1; }
    }
  }
    .masthead {
      height: 20px;
      width: 200px;
    }

  main {
    padding-bottom: 50px;

    > h1 {
      font-size: 40px;
      font-weight: 300;
      text-align: center;
    }

    > h2 {
      font-size: 30px;
      font-weight: 300;
      text-align: center;
    }
  }


  .orders {
    > a[name] {
      position: relative;
      display: block;
      top: -90px;
      // margin-bottom: 120px;
    }
  }

    .order {
      @include shadow-2dp;
      background: #fffbf7;
      margin-bottom: 40px;
      padding: 20px 0;

      > h3 {
        font-size: 30px;
        margin: 0 10px;
        font-weight: 500;
      }
    }
      .rank {
        padding: 1em 10px;

        > h4 {
          font-size: 20px;
          font-weight: 400;
          margin: 1em 0 0;
        }

        &:not(:first-of-type) {
          padding-top: 1em;
          border-top: 1px solid #e9e9e9;
          margin-top: 30px;

          > h4 {
          }
        }
      }
        .division {
          > h5 {
            text-transform: uppercase;
            color: #a7a59b;
            font-size: 13px;
            font-weight: 600;
            letter-spacing: 0.1em;
            margin: 3em 0 15px;
          }
        }

          .recipient {
            break-inside: avoid-column;
            overflow: hidden; // possibly needed for Fx to make avoid-column work?

            &:not(:last-child) { padding-bottom: 15px; }

            > h6 {
              font-size: 15px;
              margin: 0;
              font-weight: 600;
              color: #222;
            }

            &__suffixes {
              font-weight: 500;
              font-size: 0.8em;
              white-space: nowrap;
            }

            &__county {
              font-weight: 400;
              color: #a7a59b;
              white-space: nowrap;
            }

            &__blurb {
              margin: 0;
              font-size: 15px;
              color: #555;
            }
          }


@include oGridRespondTo(S) {
  .order {
    width: 440px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3px;
  }
}

@include oGridRespondTo(M) {
  main {

    > h1 { font-size: 70px; }

    > h2 { font-size: 40px; }
  }

  $side-padding: 15px;
  .order {
    width: 700px;
    > h3 {
      margin-left: $side-padding;
      margin-right: $side-padding;
    }
  }
    .rank {
      padding-left: $side-padding;
      padding-right: $side-padding;
    }

    .recipients {
      columns: 2 300px;
      column-gap: 40px;
    }
}

@include oGridRespondTo(L) {
  $side-padding: 20px;
  .order {
    width: 900px;
    > h3 {
      margin-left: $side-padding;
      margin-right: $side-padding;
    }
  }
    .rank {
      padding-left: $side-padding;
      padding-right: $side-padding;
    }
}

@include oGridRespondTo(XL) {
  $side-padding: 30px;

  .order {
    width: 1180px;

    > h3 {
      margin-left: $side-padding;
      margin-right: $side-padding;
    }
  }
    .rank {
      padding-left: $side-padding;
      padding-right: $side-padding;
    }
      .recipients {
        column-count: 3;
        column-gap: 30px;
      }
}
