@import 'o-fonts/main';

// scss-lint:disable ImportPath
@import 'normalize-scss/_normalize.scss';
// scss-lint:enable ImportPath

$o-grid-is-silent: false;
$o-buttons-is-silent: false;

$o-grid-debug-mode: true;

$male-colour: #6898c1;
$female-colour: #bb6d82;

@import 'o-colors/main';
@import 'o-footer/main';
@import 'o-grid/main';
@import 'o-buttons/main';

@import 'fonts';
@import 'colours';
@import 'mixins';

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  @include oColorsFor(page, background);
  @include font-smoothing;

  margin: 0;
  border: 0;
  font-family: oFontsGetFontFamilyWithFallbacks(MetricWeb);
  color: #333;
}
  main {
    padding-bottom: 50px;

    > h1 {
      font-size: 70px;
      font-weight: 300;
      text-align: center;
    }

    > h2 {
      font-size: 40px;
      font-weight: 300;
      text-align: center;
    }
  }

  .site-header {
    padding: 12px 0 8px;
    text-align: center;
    border-bottom: 1px solid #e9decf;

    @include oGridRespondTo(S) { padding: 18px 0 14px; }

    > a {
      opacity: 0.75;
      &:hover { opacity: 1; }
    }
  }
      .masthead {
        height: 20px;
        width: 200px;
      }
  
  .chart {
    width: 300px;
    margin: 0 auto 70px auto;
    line-height: 1;
    position: relative;

    &__key {
      position: absolute;
      top: 0;
      right: 20px;
    }
      &__key-male,
      &__key-female {
        margin-bottom: 6px;

        &:before {
          content: '';
          width: 20px;
          height: 20px;
          display: inline-block;
          position: relative;
          top: 4px;
          left: -5px;
        }
      }

      &__key-male:before {
        background-color: $male-colour;
      }
      &__key-female:before {
        background-color: $female-colour;
      }

    &__group {}

      &__label {
        width: 60px;
        display: inline-block;
        text-align: right;
        position: relative;
        top: -8px;
        padding-right: 4px;

        &[title] { border-bottom: 0; }
      }

      &__bar {
        position: relative;
        width: 66%;
        display: inline-block;
        margin: 0;
      }
        &__male,
        &__female {
          height: 30px;
          display: inline-block;
        }
        &__male {
          background: $male-colour;
        }
        &__female {
          background: $female-colour;
        }
        &__count {
          position: absolute;
          top: 7px;
          margin-left: 3px;
          color: #a7a59b;
          font-weight: 500;
        }
  }

  .page-nav {
    // background: white;
    margin: 60px 0;
    height: 3em;
    overflow: hidden;

    > ul {
      margin: 0;
      padding: 0;
      text-align: center;
      background: #fff1e0;

      &.stuck {
        position: fixed;
        top: 0;
        width: 100%;
        transition: 0.25s linear box-shadow;

        @include shadow-4dp;
      }

      > li {
        display: inline-block;

        > a {
          color: #999;
          text-decoration: none;
          line-height: 1;
          font-size: 13px;
          padding: 1em 0.2em;
          display: inline-block;
          border-bottom: 3px solid transparent;

          &:hover { color: #555; }
          &:active { color: #222; }
  
          &.current {
            border-color: oColorsGetPaletteColor('claret');
            color: #333;
            transition: border-color, color linear, linear 0.25s, 0.25s;
            cursor: default;
          }
        }

        // &:nth-child(2) > a {
        //   border-bottom-color: oColorsGetPaletteColor('claret');
        //   color: #333;
        // }
      }
    }
  }

  .groups {
    > a[name] {
      position: relative;
      display: block;
      top: -90px;
      // margin-bottom: 120px;
    }
  }
  .group {
    @include shadow-2dp;

    background: #fffbf7;
    padding: 10px;
    margin-bottom: 40px;

    > h3 {
      font-size: 30px;
      margin: 10px 0;
      font-weight: 500;
      display: inline;
    }

    > h4 {
      font-size: 20px;
      margin: 10px 0 20px;
      color: #a7a59b;
      font-weight: 400;
    }
  }
    .award {
      break-inside: avoid-column;
      overflow: hidden; // possibly needed for Fx to make avoid-column work?

      &:not(:last-child) { padding-bottom: 20px; }

      > h5 {
        font-size: 15px;
        margin: 0;
        font-weight: 600;
        color: #222;
      }

      &__suffixes {
        font-weight: 500;
        font-size: 0.8em;
      }

      &__county {
        font-weight: 400;
        color: #a7a59b;
      }

      &__citation {
        margin: 0;
        font-size: 15px;
        color: #555;
      }
    }


@include oGridRespondTo(S) {
  .chart { width: 440px; }
  
  .page-nav > ul > li > a {
    font-size: 18px;
    padding: 1em 0.25em;
  }

  .group {
    width: 440px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3px;
  }
}

@include oGridRespondTo(M) {
  .chart { width: 600px; }

  .page-nav > ul > li > a {
    font-weight: 500;
    font-size: 20px;
    padding: 1em 0.8em;
  }

  .group {
    width: 700px;
    padding: 15px;
  }
    .recipients {
      columns: 2 300px;
      column-gap: 40px;
    }
}

@include oGridRespondTo(L) {
  .chart { width: 700px; }

  .group {
    width: 900px;
    padding: 20px;
  }
}

@include oGridRespondTo(XL) {
  .group {
    width: 1180px;
  }
    .recipients {
      column-count: 3;
      column-gap: 30px;
    }
}
